%h1= @name.titleize
%img#twit{:src => "https://pbs.twimg.com/media/A1OkUEoCUAAMNyS.jpg:large"}

%section.education
	%h2 Education
	%ul 
		%li Bitmaker Labs – 9-Week intensive web development course, 2013
		%li University of Western Ontario – 4-Year Media, Information & Technoculture BA, 2012
		%li South Collegiate Institute – High School Diploma, 2008

%section.experience
	%h2 Experience

	%h3 Apple Inc.

	Family Room Specialist, May 2012-March 2013
	%ul 
		%li Trained to repair all Apple mobile devices released within the past five years, completing over 4000 repairs during my tenure.
		%li Gained extensive experience in managing customer expectations and ensuring their satisfaction. My Net Promoter Scores (NPS) were regularly some of the highest among my coworkers with an average rating of roughly 9.2/10.
		%li Lead the data transfer team utilizing both lectures and one-on-one mentoring, eventually improving turn-around time (approximately 3-5 day quote was reduced to 24-48 hours).
		%li Successfully trained an individual as measured by their NPS alongside operational efficiency and quality of repairs. This coworker became one of the top-performing FRSs in the store.

